.page-header {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
}

.navbar-default {
  background-color: seashell;
}

img {
  width: 400px;
  border: 2px solid black;
}

.post {
  background-color: snow;
  padding: 5%;
}

.comment, .update {
  padding: 3px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1440850896288-77d862145dc8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=6060cbcd3e9f1a8e43313f11ec4267ef);
  -webkit-background-size: cover;
  margin: 5%;
}

h1, h2, h3, h4, h5, .navbar, button {
  font-family: 'Raleway', sans-serif;
}

p, input {
  font-family: 'Roboto Condensed', sans-serif;
}
