<div class="post">
  <h1>About the author</h1>
  <p>While Sara's birthplace was a Chicago suburb, her home is firmly in the Pacific Northwest. Ok, enough talking about myself in the third person, you KNOW nobody wrote this for me. Seriously though, if I could get some PNW residency cred...Also, I did fantasize briefly about Maine. Sorry Oregon! It didn't mean anything! <br><br> Whatever, I love the mountains.</p>
</div>
