<div class= "container">
  <div class="page-header">
    {{#link-to 'index'}}<h1>Life is Good<br><small>But I'd rather be climbing</small></h1>{{/link-to}}
  </div>
    {{outlet}}
  <hr>
</div>
<footer class="footer">
  <div class="container footer-links">
    {{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'contact'}}Be in touch!{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}}
  </div>
</footer>
