<div class= "container">
  <header class= "jumbotron">
    <h1>I'd Rather Be Climbing</h1>
  </header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'contact'}}Be in touch!{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}}
  </footer>
</div>
