<div class= "container">
  <header class= "jumbotron">
    <h1>Intro to PNW Climbing</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'contact'}}Be in touch!{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}}
  </footer>
</div>
